
*,
*::before
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  /* Changes */
  margin: 0;
}


body {
	margin: 0;
}


html{
	font-family: "Epilogue", sans-serif;
	/* previous font-family: 'Roboto', sans-serif;*/
	font-size: 10px;
	box-sizing: border-box;
	background-color: #fddf56;/*previous: #3c4053;*/
}

section{
	width: 100%;
	/*height: 200vh;  vh = viewport height */
	display: flex; /*for positioning child elements and the main container in mobile devices*/
	align-items: center;
	justify-content: center;
}

.container{
	width: 100%;
	max-width: 110rem;  /*previous: 110rem*/*/
	margin: 0 auto;
	padding: 0 1.5rem;
}


input[type="text"] {
    border: 2px solid #fff;
  padding: 10px 5px;
  outline: none;
  border-radius: 5px;
  width: 92%;
  font-size: 18px;
}





/*FAQ*/
.title{
	font-size: 48px;
	font-weight: bold;
	color: #6622CC;
	padding-top: 15rem;
	padding-bottom: 4rem;
	line-height: 45px;*/
}

.subtitle{
	font-size: 20px;
	font-weight: 400;
	color: black;
	padding-bottom: 4rem;
	line-height: 30px;
}


.accordion-item{
	background-color: #6622CC; /* previous: #283042; */
	border-radius: .8rem; /*previous: .4rem;*/
	margin-bottom: 1rem;
	padding: 1rem;
	/*box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);*/
}

.accordion-link{
	font-size: 18px; /* previous: 1.6rem;*/
	color: #fff; /*previous: rgba(255, 255, 255, .8);*/
	text-decoration: none; /*remove underlines of the link*/
	background-color: #6622CC; /*#283042;*/ /*dark blue and black*/
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between; /*separate ion icons*/
	padding: .5rem; /* previous: 1rem 0;*/ 
}

.accordion-link i{
	color: #e7d5ff;/*shallow purple*/
	padding: .5rem;
}


.accordion-link .ion-md-remove{
	display: none;
}

.answer{
	max-height: 0;
	overflow: hidden; /*hide the answer*/
	position: relative;
	background-color: #6622CC;/* previous: #212838;*/
}

.answer::before{
	content: "";
	position: absolute;
	width: .6rem;
	height: 80%;  /* previous: 90%;*/
	background-color: #8fc460; /*grass green*/
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.answer p{
	color: #fff;  /*previous: rgba(255, 255, 255, .6); */
	font-size: 1.6rem;   /*previous: 1.4rem;*/
	padding: 1rem 2rem;   /*previous: 2rem;*/
	line-height: 2.5rem;
	transition: max-height 650ms; 
}

.accordion-item:target .answer{
	max-height: 20rem;/*previous: 20rem;*/
}

.accordion-item:target .accordion-link .ion-md-add{
	display: none;
}

.accordion-item:target .accordion-link .ion-md-remove{
	display: block;
}


/*FAQ*/



/*nav-bar and footer*/
.fa:hover {opacity: 0.7;}
.fa-facebook {background: #3B5998;color: white;}
.fa-instagram {background: #125688;color: white;}
       
header{

  background-color: #6622cc;
  border-bottom: #41315b 4px solid;
}

.item {
  color: #fff;
  font-weight: 300;
}

ul {
  margin-top: 2%;
}

ul li {
  background-color:inherit;
}

header{
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
}

h4{
  line-height: 1.5em;
}

.head-nav{
  padding: 2% ;
}
*{
	font-family: "Epilogue", sans-serif;
}

li{
  font-family: "Epilogue", sans-serif;
}

a{
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
}

.logo{
  font-size: 36px;
  font-weight: 800;
  
}
html, body {
  height: 100%;
}
.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .logo-nav {
      margin-right: auto;
    }
  header .logo {      
    width: 100px;
    color:#fff;
  }
  
  /* .menu {
    padding-top: 40px;
    font-size: 30px;
  } */
  
  .head-nav ul {
    /* margin-top: 10px; */
    font-size: 0;
  }
  .head-nav ul li {
    display: inline-block;
  
  }
  .head-nav ul li a {
    display: inline-block;
    padding: 0 20px;
    color: #6622CC;
    text-transform: uppercase;
    /* color: white; */
    /* margin: 0 15px; */
    font-size: 20px;
    color: inherit;
    transition: all 0.3s ease;
    /* text-transform: uppercase; */
  }
  .toggle {
      display: none !important;
  }
  .head-nav ul li a span {
    position: relative;
    display: inline-block;
    /* padding: 13px 0 13px; */
  }
  
  .head-nav ul li:first-child {
    padding-top: 10px;
  }
  
  .head-nav ul li:first-child a {
    padding-left: 0;
    /* padding: 13px 5px 13px; */
  }
  
  .head-nav ul li:hover {
    font-weight:bold;
  }


  /* 
   * css for the footer
   */
  .content {
      flex: 1 0 auto;
  }
  
  .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between;
  }
   
  .footer {
      width: 100%;
      flex-shrink: 0;
      /* height: 2.5rem;  */
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .footer-icons {
      margin-right: auto;
  }
  .footer-col ul{
    list-style: none;
  }

  .footer{
    background-color: #6622CC;   
    padding: 1% 0 5% 0;
    margin-top: auto;
    min-width:100%;
    max-width:100%;
    padding-top: 5%;
  }

  .footer-col{
    width: 15%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
 }

 .footer-icons h2{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 600;
    position: relative;
}

 .footer-icons h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
    position: relative;
    width: 400px;
}


 .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
  
    font-size: 18px;
    
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    
    display: block;
    transition: all 0.3s ease;

}



.footer-col ul li a:hover{
    color: #ffffff;
    font-weight:bold;
}

.footer-icons{
  width: 15%;
  padding-top: 0;
  padding-right: 10%;
  padding-bottom: 0;
  padding-left: 5%;
}

.footer-icons .social-links {
  width: 300px;
}

.footer-icons .social-links a{

    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    transition: all 0.5s ease;
}
.footer-icons .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 800px) {


  header{
    display: block;
    position:relative;
    background-color: #6622CC;
    border-bottom: none;
    margin:none;
  }

*{
  padding: 0px;
  margin: 0px;
}

.logo{
  color: #ffffff;
}

/* mobile navbar */
html, body {
  height: 100%;
}

.head-nav {
  display: block;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  background-color: #6622CC;
  align-items: center;
  margin-bottom: 3%;
}

.item{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.logo {
  /* background-color: black; */
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
  margin-bottom: 3%;
  /* display: none !important; */
}
/* .menu {
  position: relative;
} */
.navIcon {
  /* order: 1; */
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.item {
  /* order: 2; */
  width: 100%;
  /* padding: 10px; */
  text-align: center;
  display: none;
  border-bottom: #F2EFEF 1px solid;
}

.active .item {
  display: block;
}
.head-nav ul li {
  display: block;

}
.head-nav ul li a {
  display: block;
  /* padding: 0 20px; */
  color: white;
  text-transform: uppercase;
  /* color: white; */
  /* margin: 0 15px; */
  font-size: 16px;
  color: inherit;
  transition: all 0.3s ease;
  text-decoration: none;
  
  /* text-transform: uppercase; */
}

.head-nav ul li a span {
  color: white;
  position: relative;
  display: block;
  /* padding: 13px 0 13px; */
}


.head-nav ul li:hover {
  font-weight:bold;
}


/* mobile footer */
.footer-col{
  display: none !important;*/
}

.footer-icons{
  display: block;
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-right:15%;
  text-align: center;
  margin-top: 3%;
}

.footer-icons .social-links {
    width: 100%;
    margin: 0 auto;
  }

.footer-icons h4 {
    width: 100%;
  }

}


/*nav-bar and footer*/






/*CTA*/
.cta {
  margin: 100px auto 0px auto;
  width: 100%;
  background-color: #121212; 
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0px; 
}

.ctaHeader {
  color: #fff;
}

.hero-btn {
            display: inline-block;
            font-weight: 600;
            text-decoration: none;
            color: #121212;
            padding: 12px 30px;
            font-size: 18px;
            background-color: #FDDF56;
            position: relative;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.5s;
            margin-top: 40px;
        }
/*CTA*/


