/*---------------Global Styles------------------*/

/*---------------header------------------*/

/* desktop version navbar */

/* *{
  border:red 1px solid;
} */

body{
  margin:0;
}

h4{
  line-height: 1.5em;
}

.head-nav{
  padding: 2% ;
}
*{
	font-family: "Epilogue", sans-serif;
}

li{
  font-family: "Epilogue", sans-serif;
}

a{
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
}

.logo{
  font-size: 36px;
  font-weight: 800;
  color:#000;
}
html, body {
  height: 100%;
}
.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
  }
  .logo-nav {
      margin-right: auto;
    }
  header .logo {      
    width: 100px;
  }
  
  /* .menu {
    padding-top: 40px;
    font-size: 30px;
  } */
  
  .head-nav ul {
    /* margin-top: 10px; */
    font-size: 0;
  }
  .head-nav ul li {
    display: inline-block;
  
  }
  .head-nav ul li a {
    display: inline-block;
    padding: 0 20px;
    color: #333;
    text-transform: uppercase;
    /* color: white; */
    /* margin: 0 15px; */
    font-size: 20px;
    color: inherit;
    transition: all 0.3s ease;
    /* text-transform: uppercase; */
  }
  .toggle {
      display: none !important;
  }
  .head-nav ul li a span {
    position: relative;
    display: inline-block;
    /* padding: 13px 0 13px; */
  }
  
  .head-nav ul li:first-child {
    padding-top: 10px;
  }
  
  .head-nav ul li:first-child a {
    padding-left: 0;
    /* padding: 13px 5px 13px; */
  }
  
  .head-nav ul li:hover {
    font-weight:bold;
  }


  /* 
   * css for the footer
   */
  .content {
      flex: 1 0 auto;
  }
  
  .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between;
  }
   
  .footer {
      width: 100%;
      flex-shrink: 0;
      /* height: 2.5rem;  */
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .footer-icons {
      margin-right: auto;
  }
  .footer-col ul{
    list-style: none;
  }

  .footer{
    background-color: #6622CC;   
    padding: 1% 0 5% 0;
    margin-top: auto;
    min-width:100%;
    max-width:100%;
  }

  .footer-col{
    width: 15%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
 }

 .footer-icons h2{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 600;
    position: relative;
}

 .footer-icons h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 300;
    position: relative;
}


 .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
  
    font-size: 18px;
    
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{
    color: #ffffff;
    font-weight:bold;
}

.footer-icons{
  width: 15%;
  padding-top: 0;
  padding-right: 10%;
  padding-bottom: 0;
  padding-left: 5%;
}

.footer-icons .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-icons .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 800px) {

*{
  padding: 0px;
  margin: 0px;
}

.logo{
  color: #ffffff;
}

/* mobile navbar */
html, body {
  height: 100%;
}

.head-nav {
  display: block;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  background-color: #333;
  align-items: center;
  margin-bottom: 3%;
}

.item{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.logo {
  /* background-color: black; */
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
  margin-bottom: 3%;
  /* display: none !important; */
}
/* .menu {
  position: relative;
} */
.navIcon {
  /* order: 1; */
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.item {
  /* order: 2; */
  width: 100%;
  /* padding: 10px; */
  text-align: center;
  display: none;
  border-bottom: #F2EFEF 1px solid;
}

.active .item {
  display: block;
}
.head-nav ul li {
  display: block;

}
.head-nav ul li a {
  display: block;
  /* padding: 0 20px; */
  color: white;
  text-transform: uppercase;
  /* color: white; */
  /* margin: 0 15px; */
  font-size: 16px;
  color: inherit;
  transition: all 0.3s ease;
  text-decoration: none;
  
  /* text-transform: uppercase; */
}

.head-nav ul li a span {
  color: white;
  position: relative;
  display: block;
  /* padding: 13px 0 13px; */
}


.head-nav ul li:hover {
  font-weight:bold;
}


/* mobile footer */
.footer-col{
  display: none !important;
}

.footer-icons{
  display: block;
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-right:15%;
  text-align: center;
  margin-top: 3%;
}
}



